.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 0 1rem;

	box-sizing: border-box;
}

.info h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.info p {
	font-size: 1.3rem;
	text-align: justify;
}
