.button {
	background: transparent;
	height: 100%;
	width: 64px;
	padding: 4px;
	border: none;
	border-bottom: 0;
	outline: none;
	cursor: pointer;
	margin: 0;
	text-decoration: none;

	color: inherit;
	font-size: 1.2rem;

	transition: background-color 0.4s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.button:hover {
	border-bottom: 4px solid var(--secondary);
	background-color: #5c6470;
}

.button:active {
	border-bottom: 4px solid var(--secondary);
	background-color: #5c6470;
}
