.btn {
	color: #ccc;
	background-color: transparent;
	outline: none;
	border: none;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	font-size: 2rem;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.right {
	right: 0;
}

.btn:hover {
	color: #fff;
}
