/* variables for dark mode(default) */
:root {
	--bg-body: #222831;
	--bg-main: #222831;
	--bg-content: #393e46;
	--text-color: #eeeeee;
	--primary: #00acc1;
	--secondary: ##8e24aa;
}

/* variables for light mode */
[dataTheme="light"] {
	--bg-body: white;
	--bg-main: #fff;
	--bg-content: #eee;
	--text-color: #08090a;
	--primary: #00acc1;
	--secondary: ##8e24aa;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;
}

.root {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: var(--bg-body);
	color: var(--text-color);
}
