/* variables for dark mode(default) */
:root {
	--bg-body: #222831;
	--bg-content: #393e46;
	--text-color: #eee;
	--primary: #00acc1;
	--secondary: #8e24aa;

	--bg-header: var(--bg-content);
	--header-height: 64px;
}

/* variables for light mode */
.light {
	--bg-body: #fff;
	--bg-content: #eee;
	--text-color: #08090a;

	--bg-header: var(--primary);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	list-style: none;

	/* background-color: inherit; */
}

.root {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: var(--bg-body);
	color: var(--text-color);
}

@media (max-width: 768px) {
	:root {
		font-size: 0.8em;
		--header-height: 50px;
	}
}
